* {
    padding: 0px;
    margin: 0px;
}

.form-inline {
    display: flex;
    align-items: center;
}

#form-control {
    display: inline;
    width: 50%;
    margin-right: 3%;
}

#search_box {
    display: inline;
}

#btn-clear {
    display: inline;
    margin-left: 3%;
}

#intro {
    background-image: url(../pictures/bamboo.jpg);
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#jheader {
    float: right;
    color: white;
}